<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>

<body>
    <h1>Registrarse</h1>

    {% if form.non_field_errors %}
    <ul style="color: red;">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}




    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}

        <p>
            <label for="id_first_name">Nombre:</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
        <ul style="color: red;">
            {% for error in form.first_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>

        <p>
            <label for="id_last_name">Apellidos:</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
        <ul style="color: red;">
            {% for error in form.last_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>

        <p>
            <label for="id_email">Correo electrónico:</label>
            {{ form.email }}
            {% if form.email.errors %}
        <ul style="color: red;">
            {% for error in form.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>

        <p>
            <label for="id_username">Nombre de usuario:</label>
            {{ form.username }}
            {% if form.username.errors %}
        <ul style="color: red;">
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>

        <p>
            <label for="id_password1">Contraseña:</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
        <ul style="color: red;">
            {% for error in form.password1.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>

        <p>
            <label for="id_password2">Confirmar contraseña:</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
        <ul style="color: red;">
            {% for error in form.password2.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>

        <button type="submit">Registrarse</button>
    </form>
</body>

</html>